html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #eee;
}
.montserrat-normal {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.bg-red {
    /*background: linear-gradient(#a81919, #800000) !important;*/
    /*background: linear-gradient(#a81919, #800000) !important;*/
    background-color: #a81919 !important;
}
.text-yellow {
    color: #f1c40f !important;
}

.label_axe {
    color: #6c1e22;
}

.bar-gold {
    background-color: #DBA842;
}
.nav-link {
    color: black;
}
main {
    flex: 1; /* Ensures main content takes the remaining space */
    display: flex;
    flex-direction: column;
}

header, footer {
    background: linear-gradient(90deg, #712a68, #a02a4f, #d1302a, #6c1e22);
    color: white; /* Ensures text contrast */
}

footer {
    background: linear-gradient(90deg, #712a68, #a02a4f, #d1302a, #6c1e22);
    color: white;
    text-align: center;
    padding: 1rem 0;
}

#profession .row {
    align-items: flex-start; /* Align all items in the row to the top */
}

#profession .col-md-6 img {
    margin-top: 0; /* Ensure no unnecessary top margin */
}

.harmonized-image {
    width: 100%; /* Makes the image responsive to the column width */
    height: 200px; /* Sets a fixed height */
    object-fit: cover; /* Ensures the image fills the container */
    object-position: top; /* Aligns the top of the image within the frame */
    border-radius: 8px; /* Optional: Adds rounded corners */
}

@media (max-width: 768px) {
    #introduction .row {
        flex-direction: column-reverse;
    }
    #introduction img {
        margin-top: 1rem;
    }
}

